# Copier en .env pour surcharger les valeurs de développement (ne jamais committer .env).
POSTGRES_DB=jdr
POSTGRES_USER=jdr
POSTGRES_PASSWORD=jdr
POSTGRES_PORT=5432
BACKEND_PORT=8080
FRONTEND_PORT=4200
